.container{
    padding-left: 5vw;
}


ul{
    list-style-type: none;
}
h2{
    margin-left: 5vw ;
    margin-bottom: 5vh;
}

.bouttons{
    margin-left: 35vw;
    
}

#maj{
     margin-left: 35vw;
}
h2{
    color:white;
}
